<script setup>
import CardComponent from '@/components/CardComponent.vue'
import { useCounterStore } from '@/stores/counter'
const store = useCounterStore()
</script>

<template>
  <main>
    <div class="container">
      <h2>Item Counter: {{ store.globalCount }}</h2>

      <div class="cards-list">
        <CardComponent
          :index="0"
          description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eleifend elit eu pulvinar viverra. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In dapibus ultrices lectus non fermentum."
        />
        <CardComponent
          :index="1"
          description="Phasellus eget felis elit. Vivamus sit amet vestibulum neque, id elementum felis. Ut lobortis, nunc non volutpat condimentum."
        />
      </div>
    </div>
  </main>
</template>

<style scoped>
.container {
  width: 1080px;
  margin: auto;
}

.container > h2 {
  margin: 12px;
}

.container > .cards-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  width: 800px;
}

@media screen and (max-width: 1080px) {
  .container {
    width: 100%;
  }
  .container > .cards-list {
    width: 100%;
  }
}
</style>
