<script setup>
import { useCounterStore } from '@/stores/counter'
const store = useCounterStore()

const props = defineProps({
  index: {
    type: Number,
    required: true
  },
  description: {
    type: String,
    required: true
  }
})

function addItemToList() {
  store.addItemToList(props.index)
}
</script>

<template>
  <div class="card">
    <div class="card-header">
      <div class="image-container"></div>
      <h4>Card {{ index + 1 }}</h4>
    </div>

    <div class="card-description" v-if="store.listItems[index].length === 0">
      {{ description }}
    </div>
    <div class="card-list" v-else>
      <div
        v-for="item in store.listItems[index]"
        :key="item.id"
        class="card-list__item"
        @click="store.removeItemFromList(index, item.id)"
      >
        {{ item.name }}
      </div>
    </div>

    <div class="card-button">
      <button @click="addItemToList">Add Item</button>
    </div>
  </div>
</template>

<style scoped>
.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 22rem;
  width: 17rem;
  margin: 18px;
  border: 1px solid #000;
  border-top: 3px solid var(--secondaryColor);
  border-radius: 4px;
  background-color: var(--lightGray);
}

.card-header {
  display: flex;
  align-items: center;
}

.image-container {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  background-color: var(--darkGray);
  margin: 12px;
}

.card-description {
  font-size: 0.8rem;
  margin: 12px;
  line-height: 1.5;
}

.card-list__item {
  color: var(--primaryColor);
  font-size: 0.8rem;
  border-top: 1px solid var(--primaryColor);
  padding: 5px 0;
  margin: 0 12px;
  cursor: pointer;
}

.card-list__item:hover {
  font-weight: bold;
}

.card-list__item:last-child {
  border-bottom: 1px solid var(--primaryColor);
}

.card-button {
  margin-top: auto;
}

.card-button > button {
  margin: 12px;
  padding: 10px 20px;
  border: none;
  background-color: var(--primaryColor);
  color: #fff;
  font-size: 1rem;
  border-radius: 20px;
  cursor: pointer;
  width: 90%;
}

.card-button > button:hover {
  filter: brightness(120%);
}
</style>
