<script setup>
import { ref, onMounted, onBeforeUnmount } from 'vue'

const options = {
  month: 'numeric',
  day: 'numeric',
  year: '2-digit',
  hour: 'numeric',
  minute: 'numeric',
  hour12: true
}

let intervalID
const currentTime = ref(new Intl.DateTimeFormat('en-US', options).format(new Date()))

onMounted(() => {
  intervalID = setInterval(() => {
    console.log('counted')
    currentTime.value = new Intl.DateTimeFormat('en-US', options).format(new Date())
  }, 30000)
})

onBeforeUnmount(() => {
  // destroys setInterval
  clearInterval(intervalID)
})
</script>

<template>
  <header>
    <div class="container">
      <h3>Bruno Kern</h3>
      <h3>{{ currentTime }}</h3>
    </div>
  </header>
</template>

<style scoped>
header {
  border-bottom: 1px solid rgb(213, 213, 213);
  width: 97vw;
  margin: 0 auto;
}

header .container {
  width: 1080px;
  height: 80px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.container > h3 {
  margin: 12px;
}

@media screen and (max-width: 1080px) {
  header .container {
    width: 100%;
  }
}
</style>
